# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time


name: CI/CD Workflow

on:
  push:
    branches: [ "main" ]
    paths: [ "URLFeederService/**" ]
defaults:
  run:
    working-directory: URLFeederService

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn clean install -DskipTests
